# data
data/hhi_ego_face_fixed/
data/hhi_ego_face_np/
data/hhi_kinect_session_cropped/
data/hhi_kinect_body_np/
data/*.7z
data/*.zip

# features
features/face_features/
features/face_features_fixed/
features/r3d_features/
features/visualize/
features/yolox/
features/*.7z

# other folders
.vscode/
pretrained/
results/*/
runs/
visualize/

# general files
__pycache__/
