# data
data/hhi_ego_face_fixed/
data/hhi_ego_face_np/
data/hhi_kinect_session_cropped/
data/hhi_kinect_body_np/
data/*.7z
data/*.zip

# features
features/

# visualize
visualize/augmentations/
visualize/feature_maps/npy/
visualize/sample_body/
visualize/sample_face/
visualize/sessions/

# results
results/*/ckpts/
results/*/figs/
results/*/csv/
results/*/pred/

# others
.vscode/
__pycache__/
pretrained/
runs/
run.sh
